@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  font-family: "Anonymous Pro", monospace;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: beige;
  margin: 0;
}

.flame{
    margin-bottom: 10px;
}

.container {
    text-align: center;
    margin: bottom 0; ;
  }
  
  .array-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 80vh;
    width: 140vh;
    background-color: darkslategrey;
    border-radius: 10px;
    padding: 10px;
  }

  .array-bar {
    background: blueviolet;
    margin: 0 4px;
    flex: 1;
    border-radius: 5px;
    transition: height 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
  }

button {
    padding: 15px 30px; 
    margin: 20px; 
    font-family: "Anonymous Pro", monospace;
    background-color: burlywood;
    border: 5px black;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px; 
    transition: background-color 0.4s;
  }
  
  
button:hover {
  background-color: rgb(223, 142, 37);
}



.comparison {
  background-color: orange; /* Color for merging */
}

.swapping {
  background-color: red; /* Color for swapping */
}

.sorted {
  background-color: green; /* Color for sorted sections */
}

.finished {
  background-color: yellow; /* Color for final sorted array */
}